doctype html
html
  head
    title Account Created
    link(rel="stylesheet",href="/resources/css/style.css")
  body
    h1 Account Created!
    p Welcome, #{name}. Your account has been successfully created.
    p
      a(href="/auth/login") Click here to login.
